p, span, a, li {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Handlee', cursive;
  font-size: 3.125vw;
}

h3 {
  font-size: 40px;
  font-family: 'Handlee', cursive;
}

h4 {
  font-size: 36px;
  font-family: 'Handlee', cursive;
}

h5 {
  font-size: 32px;
  font-family: 'Handlee', cursive;
}

h6 {
  font-size: 28px;
  font-family: 'Handlee', cursive;
}

.title {
  font-family: 'Handlee', cursive;
}

a {
  text-underline-offset: 6px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}