.form-row {
	@apply flex gap-2 mb:flex-col pb-2 justify-between;
}

input, textarea {
	border: 1px #f6772b solid;
	border-radius: 6px;
	padding: 2px 8px !important;
	/* margin: 0.25rem 0 0 0 !important; */

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

label {
	display: flex;
  flex-direction: column;
}

span.error {
	color: red;
}

.signarure {
	border: 1px #f6772b solid;
	border-radius: 6px;
}

/* Stilizare pentru radio buttons și checkboxuri */
input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"] {
  border-radius: 4px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  border-color: #f6772b;
  background-color: #f6772b;
  position: relative;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 0.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
