@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url("./base/typography.css");
@import url("./buttons/buttons.css");


:root {
  --red: #f05252;
  --white: #fff;
}

body {
  overflow: hidden;
  color: #4F4F4F;
}

.bg-peach {
  background-color: #fef5f0;
}

.contact .text {
  padding: 10px 0;
}

.contact .btn-submit {
  background-color: #F6772B;
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
}

.contact input {
  height: 35px;
  padding: 0 10px;
  border-radius: 4px;
}

.contact textarea {
  padding: 0 10px;
  border-radius: 4px;
}

.image-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.br {
  border-radius: 1.5rem;
}


.bg-cover-main-layout {
  position: fixed;
  opacity: 0.2;
}

header {
  background: #fdfdfb;
}

ul.list-star {
  list-style-image: url("/src/assets/images/stea.svg");
}

ul.list-star li {
  padding-left: 0.4rem;
  padding-bottom: 0.5rem;
}

ul.list-star li::marker {
font-size: 1rem;
margin-right: 1rem;
}

.text-shadow-white {
  text-shadow: 2px -1px 1px white;
}


.gradient-container {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 100%);
  text-align: center;
}