@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url("./base/typography.css");

:root {
  --red: #f05252;
  --white: #fff;
}

body {
  overflow: hidden;
  color: #4F4F4F;
}

.bg-peach {
  background-color: #fef5f0;
}

.contact .text {
  padding: 10px 0;
}

.contact .btn-submit {
  background-color: #F6772B;
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
}

.contact input {
  height: 35px;
  padding: 0 10px;
  border-radius: 4px;
}

.contact textarea {
  padding: 0 10px;
  border-radius: 4px;
}

.section-despre {
  color: white;
  font-size: 21px;
}

.absolut-0-0 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


/* TO DO: Remove: */

.corner {
  border-radius: 50%; 
  width: 50vw; 
  height: 50vw; 
  object-fit: cover;
  position: absolute;
  top: -25vw;
  right: -25vw;
}

.corner-circle {
  border-radius: 50%; 
  position: absolute;
}

.c1 {
  width: 30vw; 
  height: 30vw; 
  bottom: -15vw;
  left: -15vw;
}

.c2 {
  width: 20vw; 
  height: 20vw; 
  bottom: -10vw;
  left: -10vw;
}

.c3 {
  width: 30vw; 
  height: 30vw; 
  top: -15vw;
  left: -15vw;
}

.c4 {
  width: 20vw; 
  height: 20vw; 
  top: -10vw;
  left: -10vw;
}

.c5 {
  width: 20vw; 
  height: 20vw; 
  top: -10vw;
  left: -10vw;
}

.c6 {
  width: 15vw; 
  height: 15vw; 
  top: -7.5vw;
  left: -7.5vw;
}

.c7 {
  width: 10vw; 
  height: 10vw; 
  top: 5vw;
  left: -3vw;
  /* opacity: 0.8; */
}

ul.yourself {
 list-style: inside;
}

.corner2 {
  border-radius: 50%; 
  width: 40vw; 
  height: 40vw; 
  object-fit: cover;
  position: absolute;
  top: 0;
  right: -20vw;
}

.cum li {
  background: #f6762b44;
  display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 0.5rem;
	width: calc(100% - 2rem);
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
  margin: 1rem 0;
  font-size: inherit;
}

.cum img {
  height: 2.5rem;
}

.cum li:nth-child(even) {
	flex-direction: row-reverse;
	background:#f052523b;
  margin-left: auto;
}

.cum li:nth-child(even) img {
	transform: rotateY(180deg);
}

.cum-img {
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 50%;
}

.cm1 {
  position: absolute;
  top: -10vw;
  right: 7vw;
}

.cm2 {
  position: absolute;
  top: 8vw;
  right: -5vw;
}

.cm3 {
  position: absolute;
  top: 25vw;
  right: 8vw;
}

.cm4 {
  position: absolute;
  top: 40vw;
  right: -5vw;
}

.corner3 {
  border-radius: 50%; 
  width: 40vw; 
  height: 40vw; 
  object-fit: cover;
  position: absolute;
  top: 0;
  left: -20vw;
}

.c8 {
  width: 12vw; 
  height: 12vw; 
  left: 12vw;
  bottom: 3vw;
  opacity: 0.8;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.bg-cover-main-layout {
  position: fixed;
  opacity: 0.2;
}

header {
  background: white;
}