.pos-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.tab-name {
  font-family: 'Handlee', cursive;
  cursor: pointer;
}

#header {
  z-index: 10;
}

li.has-menu {
  position: relative;
}

.menu {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  z-index: 100;
}


