.pos-absolute {
  position: absolute;
  top: 0;
  right: 0;
}

.tab-name {
  font-family: 'Handlee', cursive;
  cursor: pointer;
}

#header {
  z-index: 1000;
}

li.has-menu {
  position: relative;
}

.menu {
  position: absolute;
  background-color: #fdfdfb;
  padding: 0.5rem;
  z-index: 1001;
}


