.slick-slider {
  overflow-y: hidden;
  cursor: pointer;
}

.slider__wrapper {
  margin: 0 auto;
}

.slider__wrapper .slick-track {
  overflow: hidden;
}

.slider__content {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  position: relative;
  max-height: 90%;
  /* border: 2px solid #f05252; */
  border-radius: 1.5rem;
  padding: 2rem;
}

.slider__content .slider__text {
  opacity: 0;
  width: 40%;
  padding: 0 2rem 0 0;
  transition: all 1s ease;
  z-index: 1;
  transition: all 1s linear;
}

.slider__content .slider__text h3 {
  font-weight: 600;
  font-size: 2em;
  display: inline-block;
  margin-bottom: 0;
}

.slider__content .slider__image {
  margin: 0;
  width: 60%;
  position: relative;
}

.slider__content .slider__image:before {
  content: "";
  padding-top: 85%;
  display: block;
}

.slider__content .slider__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  object-fit: cover;
  transition: all 0.75s ease;
}

/* Arrows */
.slick-arrow {
  position: absolute;
  z-index: 100;
  color: transparent;
  width: 3.5vw;
  height: 3.5vw;
}

.slick-arrow.slick-prev {
  top: 25%;
  left: 0;
  transform: rotate(-180deg);
}

.slick-arrow.slick-next {
  top: 25%;
  right: 1vw;
}

.slick-prev:before, .slick-next:before {
  content: '→';
  font-family: 'slick';
  font-size: 3.5vw;
  color: #f05252;
}


/* Animation */
.slick-active .slider__text {
  opacity: 1;
}

.slick-active .slider__image img {
  width: 100%;
}

/* Display none when the slider has opacity 0*/
.slick-slide[aria-hidden=true] {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .slider__content  {
    padding: 1rem;
  }

  .slider__content .slider__text {
    width: 100%;
    padding: 0 0 1rem 0;
  }

  .slider__content .slider__image {
    width: 100%;
  }
}