.img-banner {
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 2px solid #f05252; */
    border-radius: 1.5rem;
}

.bg-text {
    padding: 1.5vw 3vw;
}

.text-bg {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6909357492997199) 62%, rgba(4, 2, 2, 0.07749037114845936) 100%);
    padding: 12px;
    border-radius: 1.5rem;
}

.has-slider .bg-text {
    
}
